body {
  background-color: rgb(20, 20, 20);
  margin: 0px;
}

#menu {  
  align-items: center;
  /* have a display of flex so we can align the items in the center*/
  display: flex;
  height: 100vh;
  width: 100vw;
}

#menu-items {
  /* 
        The clamp() CSS function clamps a middle value within a range of values between a defined minimum bound and a maximum bound. 
        The function takes three parameters: a minimum value, a preferred value, and a maximum allowed value 

        clamp is for limiting all types of values wherever you use properties like length, frequency angles, and all of the other ones listed here. 
        In addition to measurements like percentages you can use any of the viewport measurements like 100vw, so it's way more flexible than just a adding a hard value.
    */
  margin-left: clamp(4rem, 20vw, 48rem);
  position: relative;
  z-index: 2;
}

/* 
  the following code makes the background photo shift to compliment the 
  motion of the background pattern which in turn
  gives life/character to the website by exaggerating the scrolling experience.

*/
#menu[data-active-index="0"] > #menu-background-pattern {
  background-position: 0% -25%;
}

#menu[data-active-index="1"] > #menu-background-pattern {
  background-position: 0% -50%;
}

#menu[data-active-index="2"] > #menu-background-pattern {
  background-position: 0% -75%;
}

#menu[data-active-index="3"] > #menu-background-pattern {
  background-position: 0% -100%;
}

#menu[data-active-index="0"] > #menu-background-image {
  background-position: center 45%;
}

#menu[data-active-index="1"] > #menu-background-image {
  background-position: center 50%;
}

#menu[data-active-index="2"] > #menu-background-image {
  background-position: center 55%;
}

#menu[data-active-index="3"] > #menu-background-image {
  background-position: center 60%;
}

#menu-background-pattern {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.1) 90%, 
    transparent 9%
  );
  background-position: 0% 0%;
  /* background size relative to the min viewport */
  background-size: 12vmin 12vmin;
  height: 100vh;
  left: 0px;
  /* to sit it behind our menu options, we use position absolute. */
  position: absolute;
  top: 0px;
  transition: opacity 800ms ease, 
    background-size 800ms ease,
    background-position 800ms ease;
  width: 100vw;
  z-index: 1;
}

#menu-background-image {
  background-image: url("https://images.unsplash.com/photo-1543436115-0d6fbe97ece0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80");
  background-position: center 40%;
  background-size: 110vmax;
  height: 100%;
  left: 0px;  
  opacity: 0.15;
  /* to put the image behind the text, use position absolute*/
  position: absolute;
  top: 0px;
  transition: opacity 800ms ease,
    background-size 800ms ease,
    background-position 800ms ease;
  width: 100%;
  z-index: 0;
}

/* when we hover over any of the menu items the background pattern will drop in opacity and size, simi*/
#menu-items:hover ~ #menu-background-pattern {
  background-size: 11vmin 11vmin;
  opacity: 0.5;
}

#menu-items:hover ~ #menu-background-image {
  background-size: 100vmax;
  opacity: 0.1;
}

/* to get the inactive links to fade out on hover.*/
#menu-items:hover > .menu-item {
  opacity: 0.3;
}

/* to get the inactive links to fade out on hover.*/
#menu-items:hover > .menu-item:hover {
  opacity: 1; 
}

.menu-item {
  color: white;
  cursor: pointer;
  /* 
        vw = viewport ----------   rem = root-em, dictates an element's font size relative to the size of the rsoot element.
        Ex. most browsers use a font size of 16px, so an element with 1rem will also equal 16px.
  */
  display: block;
  font-family: 'Ibarra Real Nova', serif;
  font-size: clamp(3rem, 8vw, 8rem);
  padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
  text-decoration: none;

  /* anytime we hover off a menu-item , this transition will apply.*/
  transition: opacity 400ms ease;
}

/* -- YouTube Link Styles -- */

body.menu-toggled > .meta-link > span {
  color: rgb(30, 30, 30);
}

#source-link {
  bottom: 60px;
}

#source-link > i {
  color: rgb(94, 106, 210);
}

#yt-link > i {
  color: rgb(239, 83, 80);
}

.meta-link {
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  bottom: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;  
  display: inline-flex;
  gap: 5px;
  left: 10px;
  padding: 10px 20px;
  position: fixed;
  text-decoration: none;
  transition: background-color 400ms, border-color 400ms;
  z-index: 10000;
}

.meta-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.meta-link > i, .meta-link > span {
  height: 20px;
  line-height: 20px;
}

.meta-link > span {
  color: white;
  font-family: "Rubik", sans-serif;
}